<!DOCTYPE html>
<html lang="en" ng-app="coopApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Coop Controller</title>

    <link href="../../deps/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../css/coop.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <h1>Cooperator</h1>
      <coop-controller></coop-controller>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../deps/jquery/dist/jquery.js"></script>
    <script src="../../deps/angular/angular.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../deps/bootstrap/dist/js/bootstrap.js"></script>
    
    <script src="../js/app.js"></script>
    <script src="../js/services/coopService.js"></script>
    <script src="../js/controllers/coopController.js"></script>
    <script src="../js/directives/coopDirective.js"></script>
  </body>
</html>